*/__pycache__/*
*/1.6kRunDemo*
*/200RunDemo*
*LearningDDPG*
MarketGeneratingFunctions/1HWRunDemo.pkl
MarketGeneratingFunctions/10-10-20HWRunDemo.pkl
MarketGeneratingFunctions/100-10-30HWRunDemo.pkl
10-10-20HWRunDemo.pkl
100-10-30HWRunDemo.pkl
PPO/ZeroCorrFrs1Half
PPO/ZeroCorrFrs2Half
PPO/ZeroCorrSnd1Half
PPO/ZeroCorrSnd2Half
ZeroCorrFrs1Half
ZeroCorrFrs2Half
PPO/TrainLog.monitor.csv
PPO/PPOs.zip
PPO/sMT-40-5yr-Log.csv
PPO/SMT-40-5yr(Relu).zip
PPO/sMT-xs-1yr-Log.csv
PPO/sMT-xs-1yr(LReLu).zip
PPO/SMT-xs-5yr-+0.7.csv
PPO/sMT-xs-5yr-+0.7.zip
PPO/TrainLog.monitor.csv
PPO/XS_Small10_3e65yr.zip
PPO/XS_Small103e61yr.zip
PPO/ZeroCorrSnd2Half copy
PPO/ZeroCorrTest
PPO/autoencoderT
PPO/0.7CorrTest.pkl
PPO/0.7Corr2Half.pkl
PPO/0.7Corr1Half.pkl
smT405yrLearn.png
smTxs1tyrLearn.png
smTxs1tyrLearnCropped.png
PPO/TrainLog.monitor.csv
Autoenconder/ZeroCorrSnd1Half
Autoenconder/ZeroCorrSnd2Half
PPO/logs/best_modelBigAct/best_model.zip
PPO/logs/eval_logsBigAct/evaluations.npz
PPO/logs/eval_logsBigObs/evaluations.npz
PPO/logs/best_model/best_model.zip
PPO/logs/best_model1/best_model.zip
PPO/logs/best_model20/best_model.zip
PPO/logs/best_modelBigObs/best_model.zip
PPO/logs/best_modelEnt/best_model.zip
PPO/logs/best_modelL2/best_model.zip
PPO/logs/eval_logs/ev/evaluations.npz
PPO/logs/eval_logs/evEnt/evaluations.npz
PPO/logs/eval_logs1/ev/evaluations.npz
PPO/logs/eval_logs20/ev/evaluations.npz
PPO/logs/eval_logsBigO/ev/evaluations.npz
PPO/logs/eval_logsL2/evaluations.npz
PPO/logs-TrainEnt.monitor.csv
PPO/n0.7CorrTest.pkl
PPO/logs/eval_logs/evaluations.npz
PPO/logs/eval_logs/evBig2Big/evaluations.npz
PPO/logs/eval_logs/evLLRB/evaluations.npz
PPO/logs/eval_logs/xsbig/evaluations.npz
PPO/logs/models/xsbig/best_model.zip
PPO/logsBig2Big.monitor.csv
PPO/logsBigBMagnus.monitor.csv
PPO/logsBigMagnus.monitor.csv
PPO/logsBigTrunc.monitor.csv
PPO/logsxsbig.monitor.csv
PPO/ModelLLRB.zip
PPO/logs/eval_logsBigObs/ev/evaluations.npz
PPO/logs/eval_logs/evB/evaluations.npz
PPO/eval_logsBigA/ev/evaluations.npz
PPO/logsBigObs-train.monitor.csv
PPO/logsBigA-Train.monitor.csv
PPO/eval_logs-Train.monitor.csv
PPO/logs/best_modelB/best_model.zip
PPO/logs-07.monitor.csv
PPO/logs-n07.monitor.csv
PPO/logs-xsbig.monitor.csv
PPO/NegCorrpt0
PPO/NegCorrpt2
PPO/NegCorrpt3
PPO/NegCorrpt4
PPO/logs/eval_logs/07/evaluations.npz
PPO/logs/models/07_final.zip
PPO/logs/eval_logs/n07/evaluations.npz
PPO/logs/models/n07_final.zip
PPO/logs/models/xsbig_final.zip
PPO/logs/models/06-best/best_model.zip
PPO/logs/models/n07-best/best_model.zip
PPO/logs/models/xsbig_best/best_model.zip
PPO/logs/eval_logs/bigbig/evaluations.npz
PPO/logs/eval_logs/bigbig30/evaluations.npz
PPO/logs/models/bigbig_final.zip
PPO/logs/models/bigbig_final30.zip
PPO/logs/models/bigbig_best/best_model.zip
PPO/logs/models/bigbig_best30/best_model.zip
PPO/logs-bigbig.monitor.csv
PPO/logs-bigbig30.monitor.csv
PPO/Results/Huge/best_model.zip
PPO/Results/Huge/bigbig_final30.zip
PPO/Results/Huge/evaluations.npz
PPO/Results/Huge/logs-bigbig30.monitor.csv
PPO/Results/NegCorrelation/best_model.zip
PPO/Results/NegCorrelation/evaluations.npz
PPO/Results/NegCorrelation/logs-n07.monitor.csv
PPO/Results/NegCorrelation/n07_final.zip
PPO/Results/PosCorrelation/07_final.zip
PPO/Results/PosCorrelation/evaluations.npz
PPO/Results/PosCorrelation/logs-07.monitor.csv
PPO/Results/PosCorrelation/06-best/best_model.zip
PPO/Results/xsBig/best_model.zip
PPO/Results/xsBig/evaluations.npz
PPO/Results/xsBig/logs-xsbig.monitor.csv
PPO/Results/xsBig/xsbig_final.zip
PPO/logs-trcost.monitor.csv
PPO/logs-trcoste7.monitor.csv
PPO/logs-trcoste72.monitor.csv
Failed Convergence Transaction Costs.png
PPO/logs/eval_logs/trcoste7/evaluations.npz
PPO/logs/eval_logs/trcoste72/evaluations.npz
PPO/logs/models/trcoste7final.zip
PPO/logs/models/trcoste7/best_model.zip
PPO/logs/models/trcoste72/best_model.zip
